*{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
}

body{
       width: 100%;
       /* overflow-x: hidden; */
}
li{
       list-style-type: none;
}

a{
       text-decoration: none;
       color: inherit;
       &:visited{
              color: inherit;
       }
}

.row{
       display: flex;
       width: 100%;
       flex-wrap: wrap;
}